.land-table {
    .item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
        display: block;

        &:last-child {
            border-bottom: none;
        }

        .item-text {
            font-size: 16px;
            color: black;
            font-weight: 600;
            margin-left: 10px;
        }

        .item-text-info {
            font-size: 14px;
            color: black;
            font-weight: 400;
        }
    }
    .list-item {
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #e1e6ea;
        cursor: pointer;
        /* Màu xanh làm nổi bật */
        border-radius: 5px;
        background-color: #f0f8ff;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
            background-color: #e6f7ff;
            transform: scale(1.05);
            /* Phóng to nhẹ khi hover */
        }
    }
}
