.main-post {
    background-color: #262d34;
    color: white;
    border-radius: 10px;
    &__title {
        font-size: 20px;
        margin: 15px;
    }
}
.list-post {
    padding-bottom: 50px;
}
.post--item {
    width: 90%;
    background-color: #1d252b;
    margin: auto;
    border-radius: 5px;
    &__title {
        margin-left: 10px;
        font-weight: 700;
    }
    &__content {
        padding: 10px;
        opacity: 0.85;
    }
    &__time {
        padding: 10px;
        font-style: italic;
        opacity: 0.75;
    }
    &__hastag {
        margin-left: 10px;
        padding-bottom: 20px;
        a {
            color: white;
            opacity: 0.75;
            font-style: italic;
            font-size: 14px;
            margin: 0 8px;
        }
    }
}
.text-notify {
    color: white;
    text-align: center;
    font-style: italic;
    opacity: 0.75;
    margin: 15px 0;
}
.ant-image:has(.custom-show-image) {
    margin-right: 20px;
}
.custom-show-image {
    height: 100px !important;
}
