.App .jodit-react-container {
    overflow-y: auto;
    max-height: 400px;
    .jodit-container {
        width: auto !important;
        max-height: 400px;
        .jodit-workplace {
            max-height: 400px;
        }
    }
    .jodit-workplace {
        min-height: 200px !important;
    }
}
.custom {
    .jodit-react-container {
        max-width: 90%;
        margin: auto;
    }
}
