.fixed-popup {
  position: fixed;
  bottom: 99px;
  left: 83.1%;
  transform: translateX(-50%);
  z-index: 9999;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 400px;
  animation: slideUp 0.3s ease-in-out;
  font-family: 'Arial', sans-serif;
  width: 360px;
}

.popup-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
    font-weight: bold;
    margin-left: 3.5px;
    font-size: 8px;
    line-height: 1.2;
}

.address {
    font-size: 11px;
    color: #555;
    margin-left: 3.5px;
}

.coords {
    font-size: 10px;
    color: #777;
    margin-top: -12px;
    margin-left: 3.5px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-right: -10px;
}

.share,
.close {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 50%;
    width: 18px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: opacity 0.2s ease, background-color 0.2s ease, transform 0.1s ease;
    cursor: pointer;
    margin-right: 7px;
}

.share:hover,
.close:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.share:active,
.close:active {
    background-color: rgba(0, 0, 0, 0.15);
    transform: scale(0.95);
}

.share svg,
.close svg {
    width: 18px;
    height: 18px;
    color: #333;
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
