$sm: 480px; // Kích thước màn hình nhỏ (ví dụ: điện thoại cơ bản)
$md: 768px; // Kích thước màn hình trung bình (ví dụ: máy tính bảng hoặc điện thoại lớn)
$lg: 1024px; // Kích thước màn hình lớn (ví dụ: máy tính bảng lớn hoặc laptop nhỏ)
$xl: 1280px; // Kích thước màn hình rất lớn (ví dụ: laptop lớn hoặc desktop)
.aboutus-container {
    color: white;
    margin-top: 5%;
    .section_one {
        display: flex;
        align-items: center;
        position: relative;
        gap: 15px;
        @media (max-width: $lg) {
            flex-direction: column;           
        }
        &_text {
            width: 100%;
            min-height: 760px; // Đảm bảo có chiều cao cho ảnh nền
            background-image: url('https://res.cloudinary.com/dpplfiyki/image/upload/v1737780163/bg1_gn9h0h.png');
            background-size: fill;
            background-position: 0% 70%;
            background-repeat: no-repeat;
            
            &_content {
                h1{
                    font-weight: 700;
                }
                padding: 20px;
                margin-top: 65px;
            }
        }
        &_image{
            display: grid;
            grid-template-columns: 50% 50%; 
            transform: translateY(-20%);
            .images-section{
                @media (max-width: $sm) {
                    width: 90%;
                }
            }
        }
    }
    .section_two{
        background-color: #262D34;
        display: flex;
        padding: 20px;
        flex-direction: column;
        border-radius: 10px;
        gap: 15px;
    }
    .section_three{
        margin: 35px 0px;
        display: flex;
        gap: 25px;
        align-items: center;
        &_content{
            background-color: #262D34;
            padding: 40px;
            padding-bottom: 50px;
            border-radius: 193px 0px 0px 50px ;
            p{
                padding: 5px;
            
            }
        }
        @media (max-width: $lg) {
            flex-direction: column;
        }
    }
    .section_four{
        margin-top: 25px;
        background-color: #262D34;
        padding: 20px;
        border-radius: 10px;
    }
    .section_five{
        margin: 45px 0px;
        .team-images{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;
            @media (max-width: $lg) {
                gap: 5px;
            }
        }
    }
}
