$fontSizeHeader: 24px;
$fontSize: 16px;
.detail-container {
    .detail-image {
        text-align: center;
        img {
            margin-top: 30px;
            height: 400px;
            width: 90%;
        }
    }
    .row {
        .detail-content {
            .detail-content-inform {
                .content-inform-header {
                    text-align: center;
                    font-size: $fontSizeHeader;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding: 10px 0;
                    margin-top: 30px;
                    color: rgb(16, 183, 0);
                }
                .content-inform-data {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px 20px;
                    .inform-data-location {
                        width: 100%;
                        .inform-data-box {
                            display: flex;
                            justify-content: space-around;
                            div {
                                display: inline-block;
                                width: 50%;
                                .inform-data-icon {
                                    margin-right: 5px;
                                    color: #fff;
                                    font-size: $fontSizeHeader;
                                }
                                .inform-data-status {
                                    float: right;
                                    padding: 5px 10px;
                                    color: #fff;
                                    font-size: $fontSize;
                                }
                                .inform-data-address {
                                    color: #fff;
                                    font-weight: 600;
                                    font-size: $fontSize;
                                }
                            }
                        }
                    }

                    .inform-data-content {
                        display: block;
                        width: 100%;
                        text-align: center;
                        .data-content-container {
                            margin: 12px 12px;

                            display: flex;
                            flex-wrap: wrap;
                            gap: 30;
                            justify-content: space-between;
                            div {
                                padding: 10px 5px;
                                width: 45%;
                                display: inline-flex;
                                justify-content: space-between;
                                .data-content-title {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #fff;
                                }
                                .data-content-text {
                                    color: #fff;
                                }
                                .red-content {
                                    color: rgb(255, 0, 0);
                                    font-style: italic;
                                    font-weight: 600;
                                    font-size: 12px;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }
            }

            .detail-content-location {
                color: #fff;
                .content-location-name {
                    font-size: $fontSizeHeader;
                    text-transform: uppercase;
                    font-weight: 500;
                }
                .location-content {
                    line-height: 2;
                    text-align: justify;
                }
                div {
                    margin-bottom: 10px;
                    margin-right: 20px;
                    margin-left: 20px;
                    .image-container {
                        text-align: center;
                        width: 100%;
                        height: 50vh;
                        object-fit: cover;
                        margin: 20px auto;
                        img {
                            width: 90%;
                            height: 100%;
                        }
                    }
                }
                margin-bottom: 30px;
            }

            .extension-container {
                .extension-name {
                    font-size: $fontSizeHeader;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: #fff;
                }
                .extension-content {
                    .extention-image-container {
                        width: 100%;
                        margin: 20px 20px;
                        height: 60vh;
                        text-align: center;
                        img {
                            width: 90%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
