.investor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 150px;

  .head-title{
    color: #fff;
  }
}

.investor-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.taxCode {
  font-size: 14px;
  color: gray;
}

.status {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;

  &.active {
    background: #2d6ff7;
    color: white;
  }

  &.inactive {
    background: #ff6b6b;
    color: white;
  }
}

.title {
  font-size: 18px;
  color: #004080;
  font-weight: bold;
  margin: 10px 0;
  text-decoration: none;
}

.details {
  margin-top: 15px;
  display: flex;
  gap: 70px;

  div {
    display: flex;
    flex-direction: column;
  }

  div:first-child{
    width: 10%;
  }

  .address{
    width: 40%;
  }

  .label {
    font-weight: bold;
    color: gray;
    font-size: 12px;
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;

  li {
    margin: 0 5px;

    button {
      padding: 8px 12px;
      border: 1px solid #ddd;
      background: white;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.3s;
      color: #0D47A1;

      &:hover {
        background: #0D47A1;
        color: white;
      }

      &.active {
        background: #0D47A1;
        color: white;
        border-color: #0D47A1;
      }

      &:disabled {
        color: #ccc;
        pointer-events: none;
      }
    }
  }
}